*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Syne Mono', monospace;
}

body{
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(157, 118, 193);
}

.wrapper .time-wrapper {
    height: 120px;
    background-color: rgb(174, 68, 90);
    width: 33rem;
    border-radius: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.wrapper .time-wrapper span {
    font-size: 3rem;
}
.button-container {
    display: flex;
    gap: 20px;
    
}
.wrapper button {
    text-align: center;
    padding: 12px 22px;
    font-weight: 500;
    font-size: 1.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: 0;
}

button.active {
    cursor: not-allowed;
    opacity: 0.8;
}
@media screen and (min-width: 1990px){
    .wrapper .time-wrapper {
        width: 50rem;
        height: 200px;
    }
    .wrapper button {
        font-size: 2rem;
    }
    .wrapper .time-wrapper span{
        font-size: 5rem;
    }
}